/*
Theme Name: Divi Child Theme
Description: A child theme to house custom coding which modifies the Divi parent theme by Elegant Themes. Includes default line numbers where the code was taken from in the parent theme.
Author:   Brad Dalton http://wpsites.net
Template: Divi
*/
@import url("../Divi/style.css");

.center-box {
    margin: 0 auto;
    padding: 0;
    /*margin-top: 30px;*/
    /*padding-top: 80px;*/
    position: relative;
    width: 100%;
}

#formRegistrationProfile .submit, #formSendCenter .submit {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#formRegistrationProfile .submit.addnewpractice,
#formRegistrationProfile .submit.cancelnewpractice {
    width: auto;
    text-align: center;
    margin-bottom: 20px;
}

.accumulation_filter2, .accumulation_filter, #formSendCenter select.practice_filter, select.region_filter,
#formSendCenter select.center_filter,
#formSendCenter input[type=text],
#formSendCenter input[type=number],
#formRegistrationProfile select.practice_filter, select.region_filter,
#formRegistrationProfile select,
#formRegistrationProfile input[type=text],
#formRegistrationProfile input[type=number],
.info select.center_filter,
.practice-description,
.starting-count,
.target-practice,
.info input[type=text],
.info input[type=number],
input[type=number],
input[type=text] {
    background-color: #eee;
    border: none !important;
    /*width: 100% !important;*/
    width: 100%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button, .center-box .button, .info .button, #formSendCenter .button {
    font-family: inherit;
    display: inline-block;
    /*float: right;*/
    margin: 8px auto 0;
    font-size: 20px;
    font-weight: 500;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    border: 2px solid #2EA3F2;
    color: #2EA3F2;
}

#formRegistrationProfile .label, .info .label,
#formSendCenter .label, .info .label {
    color: #666;
    text-align: left;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 0;
}

#formSendCenter .button-info {
    display: none;
}

#formSendCenter .button-info.show-on {
    display: inline-block;
}

.button:hover, .button:active, .center-box .button:hover,
.info .button:hover,
#formSendCenter .button:hover,
#formSendCenter .button:active {
    border: 2px solid #eee;
    background: #eee;
    color: #2EA3F2;
    text-decoration: none;
}

.display {
    display: none;
}

.info {
    border: 2px solid #2EA3F2;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: black;
}

.et_pb_promo_button.info {
    border: 2px solid #2EA3F2;
    color: #2EA3F2;
    /*padding: 0;*/
}

.group-box {
    /*    width: 50%;
        float: left;*/
}

.group-box .left {
    width: 95% !important;
}

.group-box-left {
    width: 80%;
    display: inline-block;
    padding-left: 15px;
}

.group-box-right {
    width: 20%;
    float: right;
    padding: 0px 0px 0px 13px;
}

.info .button {
    padding: 15px;
}

.group-box-left input, .group-box-left label {
    width: 100%;

}

.button-footer {
    text-align: center;
}

#left-area ul, .entry-content ul, .comment-content ul {
    padding: 0;
}

.center-box.more {
    /*border: none*/
}

.center-box.profile .group-box, .center-box.more .tab-content .group-box {
    width: 100%;
    float: none;
    margin-top: 10px;
}

.center-box.more .tab-content .group-box label,
.center-box.profile .group-box label {
    width: 29%;
    color: #666;
    display: inline-block;
    font-size: 15px;
}

.center-box.more .tab-content .group-box input, .select-region, .center-box.profile .group-box .center_filter, .center-box.profile .group-box .group-description {
    background-color: #eee;
    border: none !important;
    width: 70%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.center-box.profile .group-box select, .center-box.profile .group-box input {
    background-color: #eee;
    border: none !important;
    width: 80%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#tinymce {
    background: red !important
}

.et_pb_contact_message, #bbp_topic_title, #bbp_topic_tags, #bbp_search {
    background-color: #eee;
    border: none !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.center-box.profile .Picture {
    width: 20%;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.center-box.profile .submit {
    text-align: center;
}

.center-box.profile .group-box label {
    width: 19%;
    text-align: right;
}

.center-box.more .tab-content .box-content .group-box label {
    width: 49%;
    color: #666;
    display: inline-block;
    font-size: 15px;
    text-align: left
}

.center-box.more .tab-content .box-content .group-box input {
    width: 50% !important;
}

.center-box.more .tab-content {
    padding: 10px;
    width: 100%;
    display: inline-block;
}

.tab-content.et_pb_tabs {
    border-top: none;
}

.center-box.more .tab-content .box-top {
    border-bottom: 3px solid #2EA3F2;
    padding-bottom: 15px;

}

.center-box.more .tab-content .box-content {
    padding-top: 5px;
}

.nav-tabs > li > a {
    border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold
}

/*
* Page More Custom
*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom-color: transparent;
}

ul.nav-tabs {
    list-style: none !important;
    padding: 0 !important;
    line-height: inherit !important;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f4f4f4;
    margin: 0;
}

ul.nav-tabs li {
    float: left;
    padding: 5px 30px 3px;
    border-right: 1px solid #d9d9d9;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul.nav-tabs li a {
    /*color: #666;*/
}

ul li.active {
    /*padding: 4px 30px 4px;*/
    background-color: #fff;
    bottom: -1px;
}

ul li.active a {
    color: #333;
}

div.center-box div.display > div:first-of-type {
    padding-right: 10px;
}

div.display.row .group-box {
    padding-left: 0;
    padding-right: 0;
}

.img-avatar {
    display: inline-block;
    width: 100%;
    padding-right: 5px;
}

.upload-avatar {
    display: none;
    width: 100%;
}

.control-image {
    display: inline-block;
    /*width: 59%;*/
}

.input-upload {
    display: inline-block;
    width: 100% !important;
}

.btn-showupload {
    font-family: inherit;
    display: inline-block;
    /*float: right;*/
    margin: 8px auto 0;
    font-size: 15px;
    font-weight: 500;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 8px 15px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;

}

.btn-showupload:hover {
    border: 2px solid #eee;
    background: #eee;
    text-decoration: none;
}

.group-box.center-top input {
    margin-bottom: 10px;
}

.my-region {
    margin-bottom: 10px !important
}

.group-box.active .label {
    color: blue !important;
}

.group-box.col-md-6.left {
    padding-right: 10px !important;
}

.bbp-pagination-count .right {
    float: right;
}

.bbp-pagination-count {
    width: 100%;
}

#bbpress-forums .subscription-toggle {
    float: right;
}

.et_pb_section {
    background: none
}

span.bbp-admin-links a {
    font-size: 12px;
}

.search_button {
    margin-bottom: 10px;
}

formRegistrationProfile, #formAddCenter, #formAddPractice {
    border: 2px solid #2EA3F2;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: black;
    margin-top: 20px;
}

#formAddPractice .practice-name {
    width: 100%;
}

#formAddPractice .label {
    width: 100%;
    text-align: left;
}

#formSendProfile .add_new_center {
    width: 82%;
    float: right
}

#formSendProfile #leaderboard {
    width: 15px !important;
}

#formSendProfile .group-box {
    font-weight: bold
}

#practices .practice_filter {
    background-color: #eee;
    border: none !important;
    width: 75%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
}

#practices .submit.addpractices .button,
#practices .submit.delete .button {
    width: 100%;
    font-family: inherit;
    display: inline-block;
    /* float: right; */
    margin: 8px auto 0;
    font-size: 20px;
    font-weight: 500;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 0 7px 0;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    border: 2px solid #2EA3F2;
    color: #2EA3F2;
    text-align: center;
}

.submit.addpractices, .submit.delete {
    width: 21%;
    display: inline-block;
    float: right;
    margin-top: -5px;
}

#practices p {
    width: 100%;
    display: inline-block;
}

.your-practices .group-box {
    display: inline-block
}

.button.load, .button.details {
    padding: 5px 10px 4px 10px;
}

.button.load {
    display: none;
}

input.count_practice {
    width: 100% !important;
    margin-top: 10px;
}

#practices .your-practices .title {
    padding-top: 20px
}

.practice-description,
.starting-count,
.target-practice {
    width: 100% !important
}

.edit-practices-box p {
    padding: 15px 0 5px 0;
}

.edit-practices-box {
    border: 2px solid #2EA3F2;
    padding: 15px;
}

.addnewpractice, .cancelnewpractice, .practices_button {
    display: inline-block;
    margin: 5px;
}

.addnewpractices input[class=practice_filter] {
    margin-right: 7px !important;
}

/*.thumbnail.img-responsive{
    width: 100px;
    display: inline-block;
    margin: 0px 10px 0 0;
    padding: 0;
    max-height: 80px;
}*/
.group-box.description label {
    vertical-align: top;
    padding-top: 4%;
}

#practice .Centerflag {
    margin-bottom: 10px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.padding_10 {
    padding: 10px !important;
    /*margin: 10px !important;*/
}

.dedication-subject, .form-dedication-subject, .dedication-description {
    background-color: #eee;
    border: none !important;
    width: 100%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#formDedications label, .box-dedication .box-info label {
    color: #666;
    text-align: left;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    margin: 0;
}

.accumulations_select label, #formDedications label.radio-inline {
    color: #666;
    text-align: left;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    margin: 10px 0px 0px 0px;
}

#formDedications label.radio-inline input {
    margin: 8px 0px 0px -15px;
}

.box-dedication {
    display: inline-block;
    width: 100%;
}

.box-image {
    text-align: center;
}

.box-image img {
    width: 80%;
}

.box-image .btn-showupload {
    margin: 10px
}

.box-dedication .box-buton {
    clear: both;
    padding-top: 10px;
}

#practices .loading {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.loading {
    background: url(../Divi-child/load.gif);
    height: 30px;
    margin-bottom: 10px;
}

.accumulations_select {
    padding: 0px 0px 10px 0px;
}

#practices .accumulations_select label {
    margin: 20px 0 20px 0px;
    padding: 0;
    font-weight: normal;
}

.custom_loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: url(../Divi-child/loader.gif) no-repeat 50% 50% rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
}

.center-box.profile .group-box .center_filter {
    width: calc(70% - 35px);
    height: 32px;
    padding: 0 5px !important;
}

.accumulation_filter2, .accumulation_filter, #formSendCenter select.practice_filter,
#formRegistrationProfile select,#formRegistrationProfile select.practice_filter, select.region_filter, #formRegistrationProfile select {
    width: calc(100% - 45px) !important;
    height: 32px;
    padding: 0 5px !important;

}

.button-info {
    display: inline-block;
    float: right;
    width: 32px;
    height: 32px;
}

#practices .button-info {
    display: inline-block;
    float: left;
}

.button-info img {
    width: 32px;
    height: 32px;
}

#practices .accumulation_filter2,
#practices .accumulation_filter,
.practice_filter {
    float: left;
    margin-right: 10px;
}

#practices .practice_filter {
    width: calc(75% - 35px);
    height: 32px;
    padding: 0 5px !important;

}
.dis-none{
    display: none !important;
}
.overall-target-title {
    margin-top: 20px !important;;
}

@media screen and (max-width: 767px) {
    #formSendProfile .add_new_center {
        width: 100%;
        float: right
    }

    .center-box.profile .group-box label {
        width: 100%;
        text-align: left;
    }

    .center-box.profile .group-box input,
    .center-box.profile .group-box select,
    .center-box.profile .group-box .group-description {
        width: 100% !important;
    }

    #practices .practice_filter {
        width: calc(75% - 35px) !important;
        height: 32px;
    }

    .group-box-right {
        text-align: center;
        width: 100%;
        float: none;
        padding: 0;
    }

    .group-box-left {
        width: 100%
    }

    .center-box.more .tab-content .group-box label {
        width: 100%;
        color: black;
        display: inline-block;
        font-size: 15px;
        text-align: left;
    }

    .center-box.more .tab-content .group-box select,
    .center-box.more .tab-content .group-box input {
        width: 100% !important;
    }

    .center-box.more .tab-content .group-box select {
        width: calc(100% - 35px) !important;
        height: 32px;
        margin-right: 3px !important;
    }

    .center-box.more .tab-content .box-content .group-box label {
        width: 100%;
        color: black;
        display: inline-block;
        font-size: 15px;
        text-align: left;
    }

    .center-box.more .tab-content .box-content .group-box input {
        width: 100% !important;
    }

    .control-image {
        width: 79%;
    }

    .box-image .btn-showupload {
        margin: 0 0 10px 0;
    }

    .padding_10 {
        padding: 0px !important;
        /* margin: 10px !important; */
    }
}

@media screen and (max-width: 480px) {
    .nav-tabs li {
        width: 100%;
    }

    .submit.addpractices, .submit.delete {
        width: 100%
    }

    #practices .practice_filter {
        width: calc(100% - 35px) !important;
        height: 32px;
    }
}






