
ul,li {
    list-style: none;
}
body.wp-admin{
    background: rgb(239, 239, 239);
    height: auto;
}
#wpfooter{
    display: none;
}
#add_custom_accumulations {
    min-height: 200px;
}
.custom_loading{
    position: fixed;left: 0;top: 0;z-index: 1000;
    background: url(../Divi-child/loader.gif) no-repeat 50% 50% rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
}
.data_target_totals_user {
    max-width: 99%;
}
.table {
    width: 96%;
    max-width: 100%;
    margin-bottom: 20px;
}
.form-table td p{
    margin-bottom: 5px;
}
.message .error{
    color: #f00;
    margin: 5px 0;
    font-size: 15px;
}
select.region_filter,select.center_filter,select.practic_filter{width: 100%;}
.wpt-form-label.wpt-form-textfield-label {
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.wpt-form-textfield{
    width: 100%;
}

.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.form-table th {
    font-weight: 600;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.wrap .regular-textarea{
    width: 25em;
    resize: vertical;
}
.wrap .input-group {
    display: inline-block;
    position: relative;
}
.wrap .input-group .form-control{
    width: 25em;
    border-radius: 0;
}
.wrap .input-group .input-group-addon:last-child {
    display: inline-block;
    top: 0;
    position: absolute;
    right: -100px;
    min-width: 100px;
    width: auto;
    height: 34px;
    cursor: pointer;
    line-height: 20px;
}
.tablenav-pages-navspan{
    height: auto;
}