.center-box {
    margin: 0 auto;
    padding: 0;
    /*margin-top: 30px;*/
    /*padding-top: 80px;*/
    position: relative;
}

#formSendCenter .submit {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#formSendCenter select.practice_filter, select.region_filter,
#formSendCenter select.center_filter,
#formSendCenter input[type=text],
#formSendCenter input[type=number],
.info select.center_filter,
.practice-description,
.starting-count,
.target-practice,
.info input[type=text],
.info input[type=number],
input[type=number],
input[type=text] {
    background-color: #eee;
    border: none !important;
    /*width: 100% !important;*/
    width: 100%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button, .center-box .button, .info .button, #formSendCenter .button {
    font-family: inherit;
    display: inline-block;
    /*float: right;*/
    margin: 8px auto 0;
    font-size: 20px;
    font-weight: 500;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    border: 2px solid #2EA3F2;
    color: #2EA3F2;
}

#formSendCenter .label, .info .label {
    color: #666;
    text-align: left;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 0;
    width: 100%;
}

.button:hover, .button:active, .center-box .button:hover,
.info .button:hover,
#formSendCenter .button:hover,
#formSendCenter .button:active {
    border: 2px solid #eee;
    background: #eee;
    color: #2EA3F2;
    text-decoration: none;
}

.display {
    display: none;
}

.info {
    border: 2px solid #2EA3F2;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: black;
}

.et_pb_promo_button.info {
    border: 2px solid #2EA3F2;
    color: #2EA3F2;
    /*padding: 0;*/
}

.group-box {
    /*    width: 50%;
        float: left;*/
}

.group-box .left {
    width: 95% !important;
}

.group-box-left {
    width: 80%;
    display: inline-block
}

.group-box-right {
    width: 20%;
    float: right;
    padding: 0px 0px 0px 13px;
}

.info .button {
    padding: 15px;
}

.info .group-box-right {
    padding: 0px 13px 0px 13px;
}

.info .group-box-right .button {
    padding: 9px 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.group-box-left input, .group-box-left label {
    width: 100%;

}

.button-footer {
    text-align: center;
}

#left-area ul, .entry-content ul, .comment-content ul {
    padding: 0;
}

.center-box.more {
    /*border: none*/
}

.center-box.profile .group-box, .center-box.more .tab-content .group-box {
    width: 100%;
    float: none;
    margin-top: 10px;
}

.center-box.more .tab-content .group-box label,
.center-box.profile .group-box label {
    width: 29%;
    color: #666;
    display: inline-block;
    font-size: 15px;
}

.center-box.more .tab-content .group-box input, .select-region, .center-box.profile .group-box .center_filter, .center-box.profile .group-box .group-description {
    background-color: #eee;
    border: none !important;
    width: 70%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.center-box.profile .group-box select, .center-box.profile .group-box input {
    background-color: #eee;
    border: none !important;
    width: 80%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#tinymce {
    background: red !important
}

.et_pb_contact_message, #bbp_topic_title, #bbp_topic_tags, #bbp_search {
    background-color: #eee;
    border: none !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.center-box.profile .Picture {
    width: 20%;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.center-box.profile .submit {
    text-align: center;
}

.center-box.profile .group-box label {
    width: 19%;
    text-align: right;
}

.center-box.more .tab-content .box-content .group-box label {
    width: 49%;
    color: #666;
    display: inline-block;
    font-size: 15px;
    text-align: left
}

.center-box.more .tab-content .box-content .group-box input {
    width: 50% !important;
}

.center-box.more .tab-content {
    padding: 10px
}

.tab-content.et_pb_tabs {
    border-top: none;
}

.center-box.more .tab-content .box-top {
    border-bottom: 3px solid #2EA3F2;
    padding-bottom: 15px;

}

.center-box.more .tab-content .box-content {
    padding-top: 5px;
}

.nav-tabs > li > a {
    border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold
}

/*
* Page More Custom
*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom-color: transparent;
}

ul.nav-tabs {
    list-style: none !important;
    padding: 0 !important;
    line-height: inherit !important;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f4f4f4;
}

ul.nav-tabs li {
    float: left;
    padding: 5px 30px 3px;
    border-right: 1px solid #d9d9d9;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul.nav-tabs li a {
    /*color: #666;*/
}

ul li.active {
    /*padding: 4px 30px 4px;*/
    background-color: #fff;
    bottom: -1px;
}

ul li.active a {
    color: #333;
}

div.center-box div.display > div:first-of-type {
    padding-right: 10px;
}

div.display.row .group-box {
    padding-left: 0;
    padding-right: 0;
}

.img-avatar {
    display: inline-block;
    width: 100%;
    padding-right: 5px;
}

.upload-avatar {
    display: none;
    width: 100%;
}

.control-image {
    display: inline-block;
 /*width: 59 %;*/
}

.input-upload {
    display: inline-block;
    width: 100% !important;
}

.btn-showupload {
    font-family: inherit;
    display: inline-block;
    /*float: right;*/
    margin: 8px auto 0;
    font-size: 15px;
    font-weight: 500;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 8px 15px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;

}

.btn-showupload:hover {
    border: 2px solid #eee;
    background: #eee;
    text-decoration: none;
}

.group-box.center-top input {
    margin-bottom: 10px;
}

.my-region {
    margin-bottom: 10px !important
}

.group-box.active .label {
    color: blue !important;
}

.more_func_custom .group-box.active .label {
    color: #666 !important;
}

.group-box.col-md-6.left {
    padding-right: 10px !important;
}

.bbp-pagination-count .right {
    float: right;
}

.bbp-pagination-count {
    width: 100%;
}

#bbpress-forums .subscription-toggle {
    float: right;
}

.et_pb_section {
    background: none
}

span.bbp-admin-links a {
    font-size: 12px;
}

.search_button {
    margin-bottom: 10px;
}

#formAddCenter, #formAddPractice {
    border: 2px solid #2EA3F2;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: black;
    margin-top: 20px;
}

#formAddPractice .practice-name {
    width: 100%;
}

#formAddPractice .label {
    width: 100%;
    text-align: left;
}

#formSendProfile .add_new_center {
    width: 82%;
    float: right
}

#formSendProfile #leaderboard {
    width: 15px !important;
}

#formSendProfile .group-box {
    font-weight: bold
}

#practices .practice_filter {
    background-color: #eee;
    border: none !important;
    width: 75%;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px;
    color: #999 !important;
    padding: 16px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
}

#practices .submit.addpractices .button,
#practices .submit.delete .button {
    width: 100%;
    font-family: inherit;
    display: inline-block;
    /* float: right; */
    margin: 8px auto 0;
    font-size: 20px;
    font-weight: 500;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 0 7px 0;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    border: 2px solid #2EA3F2;
    color: #2EA3F2;
    text-align: center;
}

.submit.addpractices, .submit.delete {
    width: 21%;
    display: inline-block;
}

.your-practices .group-box {
    display: inline-block
}

.button.load, .button.details {
    padding: 5px 10px 4px 10px;
}

.button.load {
    display: none;
}

input.count_practice {
    width: 100% !important;
    margin-top: 10px;
}

#practices .your-practices .title {
    padding-top: 20px
}

.practice-description,
.starting-count,
.target-practice {
    width: 100% !important
}

.edit-practices-box p {
    padding: 15px 0 5px 0;
}

.edit-practices-box {
    border: 2px solid #2EA3F2;
    padding: 15px;
}

.addnewpractice, .cancelnewpractice, .practices_button {
    display: inline-block;
    margin: 5px;
}

.addnewpractices input[class=practice_filter] {
    margin-right: 7px !important;
}

.thumbnail.img-responsive {
    display: inline-block;
    margin: 0px 10px 0 0;
    padding: 0;
    height: 100px;
    object-fit: cover;
    max-width: 150px;
}

.group-box.description label {
    vertical-align: top;
    padding-top: 4%;
}

body .et_pb_column_4_4 .et_pb_module.sharebox-count {
    margin-bottom: 10px;
    display: none;
    text-align: center;
}

.sharebox-count a {
    margin-right: 10px;
    padding: 5px 20px !important;
}

.share-button a:hover,
.share-button a:visited,
.share-button a:active {
    text-decoration: none;
}

.box-change-count {
    display: inline-block;
    width: 100%;
    position: relative;
}

.box-change-count .left {
    width: 80%;
    float: left;
}

.box-change-count .right {
    width: 20%;
    float: left;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.box-change-count .right .btn-live .count-live {
    width: 100px;
}

.box-change-count .right .btn-live .done-count-live {
    width: 150px;
}

.box-change-count .right .btn-live a {

    display: inline-block;
    padding: 7px;
}

.box-change-count .right .btn-live a:focus,
.box-change-count .right .btn-live a:active,
.box-change-count .right .btn-live a:hover {
    text-decoration: none;
}

.box-change-count .right .btn-live {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    font-size: 25px !important;
    line-height: 30px;
}

.btn-live {
    border: 2px solid #0365C0;
    padding: 0 !important;
    font-size: 23px;
    font-weight: normal;
}

.value-count.active, .value-count:hover {
    background: #0365C0;
    color: white;
}

.box-count-live .value-count:visited,
.box-count-live .value-count:focus,
.box-count-live .value-count:active,
.box-count-live .value-count:hover {
    text-decoration: none;
}

.value-count {
    border: 2px solid #0365C0;
    min-width: 130px;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    padding: 10px;
    color: #0365C0;
}

.box-select {
    margin: 20px 0;
}

.btn-count-big span {
    /*display: table-cell;*/
    vertical-align: middle;
    display: inline-block;
}

.btn-count-big {
    font-size: 30px;
    background: #0365C0;
    color: white;
    width: 250px;
    height: 250px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 20px;
    border: none;
}

.btn-count-big:active {
    background-color: white;
    /*box-shadow: 0 5px #666;*/
    /*transform: translateY(4px);*/
    color: #0365C0;
    text-decoration: none;
    border: 2px solid #0365C0;
}

.btn-count-big span:hover,
.btn-count-big:visited,
.btn-count-big:focus {
    /*color: black;*/
    text-decoration: none;
}

.btn-count-big span:after,
.btn-count-big span:active,
.btn-count-big span:focus {
    /*color: white;*/
    text-decoration: none;
}

.remaining_daily_box {
    text-align: center;
    margin: 10px 0;
}

.btn-count-big.type1-count0 {
    background: white;
    color: #1E278F;
    border: 1px solid #1E278F;
}

.btn-count-big.type1-count1 {
    background: #E82928;
    color: white;
    border: 1px solid #E82928;
}

.btn-count-big.type1-count2 {
    background: #37772D;
    color: white;
    border: 1px solid #37772D;
}

.btn-count-big.type1-count3 {
    background: #E7D135;
    color: #1E278F;
    border: 1px solid #E7D135;
}

.btn-count-big.type1-count4 {
    background: #1E278F;
    color: white;
    border: 1px solid #1E278F;
}

button[class*="type108"] {
    border-radius: 0;
    background-size: 100% 100% !important;;
    position: relative;
    border: 1px solid transparent;
}

.btn-count-big.type108-count0 {
    background: url("../img/0_white.png");
    color: #1E278F;
}

.btn-count-big.type108-count1 {
    background: url("../img/1_red.png");
    color: white;
}

.btn-count-big.type108-count2 {
    background: url("../img/2_green.png");
    color: white;
}

.btn-count-big.type108-count3 {
    background: url("../img/3_yellow.png");
    color: #1E278F;
}

.btn-count-big.type108-count4 {
    background: url("../img/4_blue.png");
    color: white;
}

button[class*="type108"] span {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.show-box-count {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: none;
    color: #0365c0;
}

.show-box-count:hover {
    color: black;
}

.show-box-count:focus, .show-box-count:active, .show-box-count:hover {
    outline: none;
    border: none;
}

.show-box-count span {
    font-size: 25px;
}

.box-count-home .left_today_box, .box-count-home .remaining_daily_box {
    width: 100%;
}
.no-click{
    pointer-events: none !important;;
}

@media screen and (max-width: 920px) {
    .box-change-count .right .btn-live .done-count-live,
    .box-change-count .right .btn-live .count-live {
        width: auto;
        font-size: 20px;
    }

    .box-change-count .right .btn-live {
        width: 90%;
        float: right;
    }

}

@media screen and (max-width: 767px) {
    #formSendProfile .add_new_center {
        width: 100%;
        float: right
    }

    .center-box.profile .group-box label {
        width: 100%;
        text-align: left;
    }

    .center-box.profile .group-box input,
    .center-box.profile .group-box select,
    .center-box.profile .group-box .group-description {
        width: 100% !important;
    }

    #practices .practice_filter {
        width: 75% !important;
    }

    .group-box-right {
        text-align: center;
        width: 100%;
        float: none;
        padding: 0;
    }

    .group-box-left {
        width: 100%
    }

    .center-box.more .tab-content .group-box label {
        width: 100%;
        color: black;
        display: inline-block;
        font-size: 15px;
        text-align: left;
    }

    .center-box.more .tab-content .group-box select,
    .center-box.more .tab-content .group-box input {
        width: 100% !important;
    }

    .center-box.more .tab-content .box-content .group-box label {
        width: 100%;
        color: black;
        display: inline-block;
        font-size: 15px;
        text-align: left;
    }

    .center-box.more .tab-content .box-content .group-box input {
        width: 100% !important;
    }

    .control-image {
        width: 79%;
    }
}

@media screen and (max-width: 660px) {
    .box-change-count .right .btn-live .done-count-live,
    .box-change-count .right .btn-live .count-live {
        width: auto;
        font-size: 17px;
        line-height: 20px;
    }

}

@media screen and (max-width: 540px) {
    .w-100{
        width: 100% !important;
    }
    .remaining_daily_box a {
        width: 100%;
    }

    .box-change-count #manis-done {
        width: 50% !important;;
        float: left;
    }

    .box-change-count .right, .box-change-count .left {
        width: 100%;
        display: inline-block;
    }

    .box-change-count .right {
        margin-right: 20px;
    }

    .box-change-count .right .btn-live {
        width: auto;
        transition: none;
        text-align: center;
        float: none;
        transform: none;
    }

    .box-change-count .right .btn-live .done-count-live,
    .box-count-live .done-count-live,
    .box-change-count .right .btn-live .count-live {
        width: auto;
        font-size: 20px;
        line-height: 20px;
        padding: 15px;
        display: inline-block;
    }

    .box-count-live {
        text-align: center
    }

    .box-change-count .right {
        position: unset;
        display: none;
    }

    .box-change-count .right.custom {
        display: inline-block !important;
        width: 50%;
        float: left;
        margin: 0;
    }

    .box-change-count .right.custom .button {
        margin: 0 !important;
    }

    .box-change-count .left.full #manis-done {
        width: 100% !important;;
    }

    .box-change-count .left.full .right.custom {
        display: none !important;
    }

    .btn-live.button.hide {
        display: inline-block !important;
    }

    .left_today_box, .remaining_daily_box {
        /*width: 100%;*/
    }

    .box-count-home .left_today_box {
        width: 48%;
        float: left;
        margin-right: 3%;
    }

    .box-count-home .remaining_daily_box {
        width: 48%;
        float: left;
        margin: 0;
    }

    /*.box-count-home.click-box {*/
    /*position: fixed;*/
    /*top: 90px;*/
    /*background: white;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*padding: 0 15px;*/
    /*}*/
    .box-count-home.click-box .btn-count-big {
        /*width: 262px;*/
        /*height: 262px;*/
        width: 100%;
    }

    .box-count-home.click-box .btn-count-big.type108-count0,
    .box-count-home.click-box .btn-count-big.type108-count1,
    .box-count-home.click-box .btn-count-big.type108-count2,
    .box-count-home.click-box .btn-count-big.type108-count3,
    .box-count-home.click-box .btn-count-big.type108-count4,
    .box-count-home.click-box .btn-count-big.type108-count5 {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .nav-tabs li {
        width: 100%;
    }

    .submit.addpractices, .submit.delete {
        width: 100%
    }

    #practices .practice_filter {
        width: 100% !important;
    }
}