#practices .select2-container{
    min-width: 75%;
    vertical-align: -16px;
}
#practices .select2-container--default .select2-selection--multiple{
    max-height: 50px;
}
body .center-box.more .tab-content #practices .select2-search__field{
    background: none;
    padding: 8px !important;
    min-width: 150px;
}